/*Slide show*/
.slide-show {
  height: 520px;
}
.slide-show-image {
  width: 100%;
  height: 100%;
}
.slide-show-bottom-button {
  position: absolute;
  bottom: 40px;
  width: 100%;
}
.slide-show-bottom-button-item {
  width: 30px;
  height: 7px;
  background-color: white;
  margin: 0 20px;
  border-radius: 5px;
  /*opacity: 0.9;*/
  transition: width 2000ms ease-in-out;
}
.slide-show-bottom-button-item-active {
  width: 100px;
}
/*Popular*/
.popular-item {
  color: black;
  text-decoration: none;
  font-size: 0.5rem;
  border: 1px solid #d0d0d0;
  padding: 5px 10px;
  /*opacity: 0.2;*/
}
.popular-item:hover {
  border: 1px solid black;
  color: black;
}
/*Product of news arrivals*/
.new-arrivals-container {
  overflow: hidden;
}
.product-container {
  margin: 0 10px;
  /*background-color: lightblue;*/
  /*height: 300px;*/
  border: 1px solid transparent;
  transition: all 200ms ease;
}
.product-container:hover {
  border: 1px solid black;
}
.pr-thumb {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.pr-type {
  font-size: 0.75rem;
  color: #797979;
}
.pr-name {
  font-weight: bold;
}
.pr-price {
}
.pr-img {
  transform: scale(0.9);
  transition: all 200ms ease-out;
}
.product-container:hover .pr-img {
  transform: scale(1);
}
.pr-btn {
  border: 1px solid black;
  background-color: black;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 10px 15px;
  color: white;
  transition: all 300ms ease-in-out;
  font-family: Nunito;
}
.pr-btn:hover {
  transform: translateY(-5px);
}
/*.fake-btn{*/
/*    padding: 0;*/
/*    position: absolute;*/
/*    top: 1px;*/
/*    right: 1px;*/
/*    border: none;*/
/*    outline: none;*/
/*    background-color: #0a53be;*/
/*    width:0;*/
/*    color: transparent;*/
/*    transition: max-width 300ms ease-in-out;*/
/*    }*/
/*.pr-btn:hover+.fake-btn,.fake-btn:hover{*/
/*    !*background-color: white;*!*/
/*    !*color: black;*!*/
/*    width: max-content;*/
/*    padding: 10px 15px;*/
/*    }*/
