/*nav-bar*/
.nav-bar {
  background-color: #ffffff;
}
.clock {
  height: 24px;
  color: white;
  font-weight: bold;
}
.nav-bar-item-link {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
}
.nav-bar-item-link:hover {
  background: black;
  color: white;
  border-radius: 25px;
}
.nav-bar-icon-item {
  padding: 0.25rem;
  color: black;
  text-decoration: none;
}
.nav-bar-icon-item:hover {
  color: darkred;
}
.bag-icon {
  cursor: pointer;
}
.cart-amount {
  background-color: darkred;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: -3px;
  font-size: 12px;
  text-align: center;
  margin: 2px;
}
/*Cart*/
.cart {
  /*border: 1px solid black;*/
  /*min-height: 50%;*/
  max-height: 85vh;

  width: 35%;
  position: absolute;
  top: 70px;
  right: 0;
  box-sizing: border-box;
  background-color: white;
  height: 0;
  transition: max-height 300ms ease-in-out;
  /*box-shadow: 0 0 5px lightgray;*/
}
.cart-show {
  /*transform: translateX(0);*/
  height: max-content;
  border-top: 1px solid black;
}
.cart-product {
  height: 50px;
}
.cart-product:hover {
  background-color: #e5e5e5;
}
.cart-product-img {
  /*border-radius: 50%;*/
  height: 50px;
}
.cart-product-type {
  font-size: 0.75rem;
  color: #b0afaf;
}
.cart-product-price {
  font-size: smaller;
}
.cart-btn {
  width: 20px;
  height: 15px;
  background-color: transparent;
}
.de-btn,
.in-btn {
  /*border: 1px solid black;*/
  /*border-radius: 0 20px 20px 0;*/
  border: none;
}

.cart-summary {
  /*display: flex;*/
  /*justify-content: space-between;*/
  position: sticky;
  bottom: 0;
  /*background-color: white;*/
  /*box-shadow: 0 0 5px lightgray;*/
}
.cart-link {
  font-weight: bold;
  cursor: pointer;
}
.cart-link:hover {
  text-decoration: underline;
  color: black;
}
/*User Info Log-in*/
.user-info {
  border-top: 1px solid black;
  width: auto;
  display: none;
  right: 30px;
  top: 70px;
  padding: 5px 10px;
  /*top: 0;*/
  background-color: white;
  text-decoration: none;
  /* border: 1px solid black; */
}
.user-info-active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
